/* carousel height fixed */
.carousel-height{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
}
/* for card images */
.card-width{
    width: 100vw;
}

/* explore-area-color */
.bg-explore{
    background-color: 
    #F4FAFD;
}
    